<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.package.aaybari">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.App">
        <!-- Firebase will auto-initialize if google-services.json is present -->
    </application>

</manifest>
